body {
  background-color: white;
  .cointainer {
    padding: 10px;
    padding-top: 50px;
  }

  // nav {
  //   .navbar-toggler {
  //     outline: none;
  //     border: none;
  //   }
  // }

  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
}
